body {
  color: rgb(44, 41, 54);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.App-title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(57, 54, 70);
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  text-transform: uppercase;
}

h2 {
  border: 2px solid #333; /* Border style, color, and width */
  border-radius: 10px; /* Adjust the border-radius as needed */
  padding: 10px; /* Add padding for spacing between text and border */
  background-color: #f0f0f0; /* Background color behind the h2 text */
  color: #333; /* Text color */
}

p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

/* custom radio buttons */
.radio-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

/* Style the custom radio buttons */
.emo-radio {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

/* Hide the default radio button visually, but keep it for accessibility */
.emo-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}

/* Apply styles to the list items */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

/* Apply styles to the links */
a {
  text-decoration: none;
  color: #007bff; /* Link color */
}

a:hover {
  text-decoration: underline;
}

/* root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

